<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="Navbar-inline">
      <h3 class='navbar--logo'><%= link_to 'Wikinomous', articles_path %></h3>
      <p><%= link_to 'Create new article', new_article_path %></p>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
